main h1 {
    font-size: 30px;
    display: flex;
    width: 50%;
    text-align: center;
    padding-left: 320px;
    font-family: cheque, sans-serif;
}
.styles-wrapper {
    display: grid;
    width: 890px;
    margin-left: 190px;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.che {
    font-size: 30px;
    font-weight: bold;
}
.styles-wrapper p {
    text-align: left;
}
.styles-title {
    padding-top: 30px;
}
.styles-title a {
    font-family: Calligraphy, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: bold;
}
.text {
    padding-bottom: 50px;
}
.photo {
    display: flex;
    justify-content: center;
}
.photo-tesla {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
.photo-tesla img {
    width: 890px;
    height: 400px;
}
.reklama h3 {
    font-size: 40px;
    color: black;
    text-align: center;
}
